html {
    scroll-behavior: smooth;
    font-size: 125%; /*1 rem=20px*/
}

body {
    font-family: "Josefin Sans", sans-serif;
    background-color: #f7f5f2;
}

main {
    overflow: auto; /* prevent margins from escaping parent element */
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
}

main section {
    height: 100vh;
    display: flex;
    align-items: center;
}

.imageContainer {
    width: 50%;
}

.imageContainer img {
    width: 100%;
}

#pageOne {
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#playButton:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.show {
    display: block;
}

.fadeOut {
    opacity: 0;
    transition: opacity 0.9s linear;
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 0.9s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*title of page*/
#pageTwo img {
    width: 30%;
}

/*title of page*/
#pageThree img {
    width: 30%;
}

.pageTwoContainer,
.pageThreeContainer {
    display: flex;
    width: 70%;
}

.dustForm,
.smiles {
    width: calc(70% / 3);
}

.dustForm:hover,
.smiles:hover {
    transform: scale(1.1);
    cursor: pointer;
}

footer {
    text-align: center;
    background-color: white;
}
