html {
    scroll-behavior: smooth;
    font-size: 125%; /*1 rem=20px*/
}

body {
    font-family: "Josefin Sans", sans-serif;
    background-color: #f7f5f2;
}

main {
    overflow: auto; /* prevent margins from escaping parent element */
}

.wrapper {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
}

header {
    height: 100vh;
}

#pageOne {
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}*/

#playButton:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.fadeOut {
    opacity: 0;
    transition: opacity 0.9s linear;
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 0.9s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#pageTwo img {
    width: calc(100% / 3);
}

.makeArea {
    display: flex;
    min-width: 100%;
}

.addOnsArea {
    width: 50%;
    background: lightblue;
}

.rowOne {
    background-color: #f7f5f2;
    display: flex;
    justify-content: flex-start;
}

.rowOne img {
    width: calc(100% / 5);
    border: solid 2px white;
}

.rowTwo {
    background-color: orange;
    display: flex;
}

.rowTwo img {
    width: calc(100% / 5);
}

.rowThree {
    background-color: pink;
    display: flex;
    flex-wrap: wrap;
}

.rowThree img {
    width: calc(100% / 5);
}

.rowFour {
    background-color: peachpuff;
    display: flex;
    flex-wrap: wrap;
}
.rowFour img {
    width: calc(100% / 5);
}

.livePreviewArea {
    width: 50%;
    background: white;
}

.livePreviewImageContainer {
    display: flex;
    justify-content: center;
    align-content: center;
}

.livePreviewImageContainer img {
    max-width: 100%;
}

footer {
    text-align: center;
    background-color: white;
}
